#image-holder {

/* Positioning */
margin: 0 auto;

/* Box-model */
width: 400px;

/* Typography */
text-align: center;
z-index: 1;

}
.container{
/* Positioning */
margin: 0 auto;

/* Box-model */
width: 400px;

/* Typography */
text-align: center;
}
